/* Main CSS */
.list-black {
    background-color: #222d32;
    border: solid 1px #222d32;
    min-height:100vh;
    margin-bottom: 20px;
    padding: 0;
    padding-top: 50px;
}
button.black,
a.black {
    color: #9d9d9d;
    background-color: #222d32;
    border: solid 1px #222d32;
    width: 100%;
}

button:hover.black,
button:focus.black,
a:hover.black,
a:focus.black {
    color: #ffffff;
    background-color: #2c3b41;
}
a.band-black,a:hover.band-black,a.band-black > h4 {
    color: #222d32;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.navbar-inverse {
    border-radius: 0px;
}
.content {
    background-color: #ffffff;
    padding-top: 60px;
    min-height: 100vh;
}
.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

table.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.width-100 {
    min-width: 100%
}

.gray>thead>tr>th {
    background-color: #f5f5f5;
}

.gray>tbody>tr>td {
    padding-left: 10px;
    padding-right: 10px;
}
.padding-0 {
    padding: 0px;
}

div.center {    
    display: grid;
    justify-content: center;
}
img.center {
    margin: 0 auto;
}

table.text-middle > tbody > tr > td {
    vertical-align: middle !important;
}
.fixed-top {
    position: fixed;
}

dl.text-middle > dt {
    padding-top: 6px;
}
dl.text-middle > dd {
    padding-bottom: 10px;
}
dl.text-middle {
    display: flow-root;
}

dl.text-middle > dd > input['text'],
dl.text-middle > dd > input['file'],
dl.text-middle > dd > select,
dl.text-middle > dd > textarea {
    width: 100%;
}

dl.text-middle > dd > input[type="file"] {
    border: 0;
}
.auto {
    display: inline;
    width : auto;
}
table.text-center > tbody > tr > td > input {
    text-align: center;
    }

td.red {
    border: solid red;
}
a.red {
    color: red;

}
.text-slide {
    display: block;
    padding-top: 60px;
    padding-left: 10px;
    width: auto;
}

.text-slide > h4 >a {
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 3rem;
}

.width-auto {
    width: auto;
    height: auto;
}
select.form-control {
    -webkit-appearance: menulist;
}
.my-frame {
    border:solid gray 2px;
}

.fram-order {
    border: solid black 2px;
}

.fram-order > thead > tr > td {
    border: solid black 2px;
}